* {
    box-sizing: border-box;
}

.frame {
    width: 1024px;
    height: 768px;
    margin: auto;
}

.top {
    width: 1000px;
    height: 65px;
    background-color: rgb(229, 220, 230);
    margin: auto;
}

.main {
    width: 1000px;
    height: calc(768px - 65px - 20px);
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.left {
    width: 230px;
    height: calc(768px - 65px - 20px);
    display: flex;
    flex-direction: column;
}

.menu {
    width: 230px;
    height: calc(768px - 65px - 20px - 25px);
    background-color: lightblue;
}

.update {
    width: 230px;
    height: 25px;
    background-color: lemonchiffon;
}

.right {
    width: 770px;
    height: calc(768px - 65px - 20px);
    display: flex;
    flex-direction: column;
}

.marquee {
    width: 770px;
    height: 29px;
    background-color: peru;
}

.content {
    width: 770px;
    height: calc(768px - 65px - 29px - 20px);
    background-color: rgb(223, 219, 206);
}

.footer {
    width: 1000px;
    height: 20px;
    background-color: rgb(248, 217, 227);
    margin: auto;
}